.header {
  text-align: center;
  font-size: 2.4rem;
  color: orangered;
}
.countries {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
}

.country {
  border: 2px solid goldenrod;
  background-color: aquamarine;
  padding: 15px;
  border-radius: 20px;
}
.country img{
  width: 200px;
}